{% extends 'base.html.twig' %}

{% block title %}BlogPost index
{% endblock %}

{% block body %}
	<h1>BlogPost index</h1>
	<a class="btn btn-primary" href="{{ path('app_blog_post_new') }}">Create new</a>
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Author</th>
				<th>Name</th>
				<th>Body</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for blog_post in blog_posts %}
				<tr>
					<td>{{ blog_post.id }}</td>
					<td>{{ blog_post.author.name }}</td>
					<td>{{ blog_post.name }}</td>
					<td>{{ blog_post.body }}</td>
					<td>
						<a href="{{ path('app_blog_post_show', {'id': blog_post.id}) }}">show</a>
						<a href="{{ path('app_blog_post_edit', {'id': blog_post.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{# PAGINATION #}
	{% if last_page > 1 %}
		{% set nearbyPages = 5 %}
		<nav aria-label="Page navigation example">
			<ul class="pagination">
				<li class="page-item {{ (current_page == 1) ? 'disabled' : '' }}">
					<a class="page-link" href="{{ path('app_blog_post_index', {'page': current_page-1}) }}" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
				{% for i in 1..last_page %}
					{% if ((current_page - nearbyPages) - loop.index) >= 0 %}
						{% elseif ((current_page + nearbyPages) - loop.index) <= 0 %}
						{% else %}

							<li class="page-item {{ (current_page == loop.index) ? 'active' : '' }}">
								<a class="page-link" href="{{ path('app_blog_post_index', {'page': loop.index}) }}">
									{{ loop.index }}
								</a>
							</li>

					{% endif %}
				{% endfor %}
				<li class="page-item {{ (current_page == last_page) ? 'disabled' : '' }}">
					<a class="page-link" href="{{ path('app_blog_post_index', {'page': current_page+1}) }}" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
			</ul>
		</nav>
	{% endif %}

{% endblock %}
